<template>
  <v-app>
    <app-toolbar :title="$t('appl.title')">
      <app-nav-menu-button v-if="!isMobile" slot="left"></app-nav-menu-button>
      <profile-drawer-button v-if="!isMobile"
                             slot="right"></profile-drawer-button>
    </app-toolbar>
    <v-content>
      <router-view/>
      <app-nav-bottom v-if="isMobile"
                      :show-button-title="isTablet"
                      :views="views"></app-nav-bottom>
    </v-content>
    <app-footer :copyright="$t('appl.copyright')"></app-footer>
    <app-nav-menu v-if="!isMobile"
                  :views="views"
                  :buttons="buttons"></app-nav-menu>
    <profile-drawer v-if="!isMobile"
                    @logout="logout"></profile-drawer>
  </v-app>
</template>

<script>
import { AppFooter, AppNavBottom, AppNavMenu, AppNavMenuButton, AppToolbar } from '@/modules/layout'
import { ProfileDrawer, ProfileDrawerButton } from '@/modules/profile'
import { AuthService } from '@/modules/auth'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['getUser', 'isProfileActive', 'loading']),
    isDesktop () {
      return this.$vuetify.breakpoint.lgAndUp
    },
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown
    },
    isTablet () {
      return this.$vuetify.breakpoint.smAndUp
    }
  },
  components: {
    AppFooter,
    AppNavBottom,
    AppNavMenu,
    AppNavMenuButton,
    AppToolbar,
    ProfileDrawer,
    ProfileDrawerButton
  },
  data () {
    return {
      buttons: [
        { icon: 'exit_to_app', text: this.$t('private.appl.logout'), action: this.logout }
      ],
      views: [
        { icon: 'home', text: this.$t('private.home.title'), route: 'home' },
        { icon: 'bubble_chart', text: this.$t('private.catalog.title'), route: 'catalog' }
      ]
    }
  },
  methods: {
    logout () {
      AuthService.logout().then(() => {
        location.reload()
      })
    }
  }
}
</script>
