<template>
  <v-navigation-drawer temporary
                       absolute top right
                       height="auto"
                       stateless
                       :value="isProfileActive">
    <v-toolbar flat class="transparent">
      <v-list class="pa-0">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>John Leider</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon @click.prevent="close">
        <v-icon>close</v-icon>
      </v-toolbar-side-icon>
    </v-toolbar>
    <v-list class="pt-0" dense>
      <v-divider></v-divider>
      <v-list-tile @click.prevent="logout">
        <v-list-tile-action>
          <v-icon>exit_to_app</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('private.appl.logout') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['isProfileActive'])
  },
  methods: {
    close () {
      this.$store.commit('setProfileActive', false)
    },
    logout () {
      this.$emit('logout')
    }
  }
}
</script>

<style scoped>
</style>
