<template>
  <v-toolbar-side-icon @click.prevent="openProfile">
    <v-icon>more_vert</v-icon>
  </v-toolbar-side-icon>
</template>

<script>
export default {
  methods: {
    openProfile () {
      this.$store.commit('setProfileActive', true)
    }
  }
}
</script>

<style scoped>
</style>
