<template>
  <v-bottom-nav :active-sync="bottomNav"
                :value="true"
                color="transparent"
                absolute
                shift>
    <v-btn v-for="(view, i) in views"
           :key="i"
           :value="view.route"
           :to="{name: view.route}">
      <span v-html="view.text"></span>
      <v-icon v-html="view.icon"></v-icon>
    </v-btn>
  </v-bottom-nav>
</template>

<script>
export default {
  data () {
    return {
      bottomNav: 'home'
    }
  },
  props: [
    'views'
  ]
}
</script>

<style scoped>
</style>
