<template>
  <v-toolbar-side-icon @click.prevent="toggleNavMenu"></v-toolbar-side-icon>
</template>

<script>
export default {
  methods: {
    toggleNavMenu () {
      this.$store.commit('toggleNavMenuActive')
    }
  }
}
</script>

<style scoped>
</style>
