<template>
  <v-navigation-drawer :mini-variant="isNavMenuCollapsed"
                       :value="isNavMenuActive"
                       app
                       clipped
                       hide-overlay
                       stateless>
    <v-layout column fill-height justify-space-between>
      <v-list>
        <v-list-tile value="true"
                     v-for="(view, i) in views"
                     :key="i"
                     :to="{name: view.route}">
          <v-list-tile-action>
            <v-icon v-html="view.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="view.text"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile value="true" default @click.stop="toggleMiniVariant">
          <v-list-tile-action>
            <v-icon v-html="pickMiniVariantIcon()"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="$t('appl.nav.collapse')"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list>
        <v-list-tile value="true"
                     v-for="(button, i) in buttons"
                     :key="i" @click.prevent="button.action">
          <v-list-tile-action>
            <v-icon v-html="button.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="button.text"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['isNavMenuActive', 'isNavMenuCollapsed'])
  },
  data () {
    return {
      sideNav: 'home'
    }
  },
  methods: {
    pickMiniVariantIcon: function () {
      return this.isNavMenuCollapsed ? 'chevron_right' : 'chevron_left'
    },
    toggleMiniVariant: function () {
      this.$store.commit('toggleNavMenuCollapsed')
    }
  },
  props: [
    'buttons',
    'views'
  ],
  name: 'AppNavMenu'
}
</script>

<style scoped>
</style>
