<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-form @submit.prevent="login">
          <v-card>
            <v-toolbar dark color="primary">
              <v-toolbar-title>{{$t('public.login.title')}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-text-field name="userid"
                            ref="userid"
                            type="text"
                            prepend-icon="person"
                            :label="$t('public.login.fields.userid')"
                            v-model='userid'
                            autocomplete="off"></v-text-field>
              <v-text-field name="passwd"
                            type="password"
                            prepend-icon="lock"
                            :label="$t('public.login.fields.passwd')"
                            v-model='passwd'></v-text-field>
              <p v-if="error">{{ error }}</p>
            </v-card-text>
            <v-card-actions>
              <v-btn type="submit"
                     color="primary"
                     :loading="loading">{{$t('public.login.buttons.login')}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { AuthService } from '@/modules/auth'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['getUser', 'loading'])
  },
  data () {
    return {
      userid: '',
      passwd: '',
      error: ''
    }
  },
  methods: {
    login () {
      AuthService.login(this.userid, this.passwd).then(() => {
        this.$router.push({name: 'home'})
      }).catch(error => {
        this.error = error
      })
    }
  },
  mounted () {
    this.$refs.userid.focus()
  }
}
</script>

<style scoped>
</style>
