<template>
  <v-app>
    <app-toolbar :title="$t('appl.title')">
      <v-toolbar-items slot="right" class="hidden-xs-only">
        <v-btn flat to="/signup">
          <v-icon>face</v-icon> {{$t('public.signup.buttons.signup')}}
        </v-btn>
        <v-btn flat to="/login">
          <v-icon>lock_open</v-icon> {{$t('public.login.buttons.login')}}
        </v-btn>
      </v-toolbar-items>
    </app-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <app-footer :copyright="$t('appl.copyright')"></app-footer>
  </v-app>
</template>

<script>
import { AppFooter, AppToolbar } from '@/modules/layout'

export default {
  components: {
    AppFooter,
    AppToolbar
  }
}
</script>
