<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex>
        <v-form ref="form" v-model="form.valid" @submit.prevent="signup">
          <v-card>
            <v-toolbar dark color="primary">
              <v-toolbar-title>{{$t('public.signup.title')}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-container>
                <v-layout>
                  <v-text-field name="email"
                                ref="email"
                                type="email"
                                prepend-icon="email"
                                :label="$t('public.signup.form.email')"
                                :rules="rules.email"
                                v-model='form.email'
                                autocomplete="off"></v-text-field>
                  <v-text-field name="confirmEmail"
                                type="email"
                                :label="$t('public.signup.form.confirmEmail')"
                                :rules="rules.confirmEmail"
                                v-model='form.confirmEmail'
                                autocomplete="off"></v-text-field>
                </v-layout>
                <v-layout>
                  <v-text-field name="passwd"
                                ref="passwd"
                                type="password"
                                prepend-icon="lock"
                                :label="$t('public.signup.form.passwd')"
                                :rules="rules.passwd"
                                v-model='form.passwd'></v-text-field>
                  <v-text-field name="confirmPasswd"
                                type="password"
                                :label="$t('public.signup.form.confirmPasswd')"
                                :rules="rules.confirmPasswd"
                                v-model='form.confirmPasswd'></v-text-field>
                </v-layout>
                <v-layout>
                  <v-text-field name="firstName"
                                type="text"
                                prepend-icon="person"
                                :label="$t('public.signup.form.firstName')"
                                :rules="rules.firstName"
                                v-model='form.firstName'
                                autocomplete="off"></v-text-field>
                  <v-text-field name="lastName"
                                type="text"
                                prepend-icon="person"
                                :label="$t('public.signup.form.lastName')"
                                :rules="rules.lastName"
                                v-model="form.lastName"
                                autocomplete="off"></v-text-field>
                </v-layout>
                <v-layout>
                  <v-text-field name="phone"
                                type="phone"
                                prepend-icon="phone"
                                :label="$t('public.signup.form.phone')"
                                :rules="rules.phone"
                                v-model='form.phone'
                                autocomplete="off"></v-text-field>
                </v-layout>
              </v-container>
              <p v-if="error">{{ error }}</p>
            </v-card-text>
            <v-card-actions>
              <v-btn type="submit"
                     color="primary"
                     :disabled="!form.valid"
                     :loading="loading">{{$t('public.signup.buttons.signup')}}</v-btn>
              <v-btn @click="clear">{{$t('public.signup.buttons.clear')}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import { AuthService } from '@/modules/auth'

export default {
  computed: {
    ...mapGetters(['getUser', 'loading'])
  },
  data () {
    const requiredRule = (field) => v => !!v || this.$t('public.signup.errors.required', {
      field: this.$t('public.signup.form.' + field)
    })
    const emailRule = (field) => v => /.+@.+/.test(v) || this.$t('public.signup.errors.valid', {
      field: this.$t('public.signup.form.' + field)
    })
    const sameAsRule = (field, field2) => v => v === this.$refs[field2].value || this.$t('public.signup.errors.sameAs', {
      field: this.$t('public.signup.form.' + field),
      field2: this.$t('public.signup.form.' + field2)
    })
    return {
      error: '',
      form: {
        confirmEmail: '',
        confirmPasswd: '',
        email: '',
        firstName: '',
        lastName: '',
        passwd: '',
        phone: '',
        valid: false
      },
      rules: {
        confirmEmail: [
          requiredRule('confirmEmail'),
          emailRule('confirmEmail'),
          sameAsRule('confirmEmail', 'email')
        ],
        confirmPasswd: [
          requiredRule('confirmPasswd'),
          sameAsRule('confirmPasswd', 'passwd')
        ],
        email: [
          requiredRule('email'),
          emailRule('email')
        ],
        firstName: [
          requiredRule('firstName')
        ],
        lastName: [
          requiredRule('lastName')
        ],
        passwd: [
          requiredRule('passwd')
        ],
        phone: [
          requiredRule('phone')
        ]
      }
    }
  },
  methods: {
    clear () {
      this.$refs.form.reset()
      this.$refs.email.focus()
    },
    signup () {
      AuthService.signup(this.form).then(() => {
        this.$router.push('/login')
      }).catch(error => {
        this.error = error
      })
    }
  },
  mounted () {
    this.$refs.email.focus()
  }
}
</script>

<style scoped>
</style>
